body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #212121;
    color: whitesmoke;
}
.navbar {
    width: 100%;
    background-color: #100d0d;
    overflow: hidden;
    color: whitesmoke;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
.navbar a:hover {
    color: #f0f0f0;
    text-decoration: underline;
}

.modal-content{
    background-color: #212121;
    color: whitesmoke;
}
#btn-close {
    color: whitesmoke;
    border: none;
}