<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='registro.css') }}">
    <title>Registro de Usuario</title>
</head>
<body>
    <div class="form-container">
        <form method="POST" class="form">
            {{ form.hidden_tag() }}
            <p class="form-title">Crea una cuenta</p>
            
            <div class="input-container">
                {{ form.nombre(size=32, placeholder="Nombre") }}
                {% for error in form.nombre.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            
            <div class="input-container">
                {{ form.apellidos(size=32, placeholder="Apellidos") }}
                {% for error in form.apellidos.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            
            <div class="input-container">
                {{ form.telefono(size=32, placeholder="Teléfono") }}
                {% for error in form.telefono.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            
            <div class="input-container">
                {{ form.email(size=32, placeholder="Introduce tu correo") }}
                {% for error in form.email.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            
            <div class="input-container">
                {{ form.contraseña(size=32, placeholder="Contraseña") }}
                {% for error in form.contraseña.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            
            <div class="button-container">
                {{ form.submit(class="submit") }}
            </div>
            
            <p class="signup-link">
                ¿Ya tienes una cuenta? 
                <a href="{{ url_for('login') }}">Inicia sesión</a>
            </p>
        </form>
    </div>
    <footer>
        SA Diego Mendoza Vega © 2025
    </footer>
</body>
</html>
